Subject: this is a customised bounce message
****
Second item.  Forms the start of the error message.
Expansions:
 \$sender_address <$sender_address>
 \$bounce_recipient <$bounce_recipient>
 \$warn_message_delay "$warn_message_delay"
****
Third item.
****
