prompt=no
encrypt_key=no
default_bits=2048
distinguished_name=fixed_dn
x509_extensions=fixed_ex

[ fixed_dn ]
C=UK
O=The Exim Maintainers
OU=Test Suite
CN=Phil Pennock

[ fixed_ex ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
basicConstraints=critical,CA:TRUE, pathlen:0
subjectAltName=DNS:test.ex, DNS:*.test.ex
