Alexander Tsoy <alexander@tsoy.me>
Alexandru Chirila <alex@alexkiro.com>
Andreas Metzler <ametzler@bebt.de> <ametzler@downhill.at.eu.org>
Andreas Metzler <ametzler@bebt.de> <eximusers@downhill.at.eu.org>
Andrew Colin Kissa <andrew@topdog.za.net>
Andrew Lewis <exim@judo.za.org>
Axel Rau <axel.rau@chaos1.de>
bes-internal <bes.internal@gmail.com>
David Woodhouse <David.Woodhouse@intel.com>
Dirk Mueller <dmueller@suse.com>
Eric Andresen <eandres@google.com>
Gedalya <gedalya@gedalya.net>
Graeme Fowler <graemef@exim.org> <graeme@exim.org>
Heiko Schlichting <heiko@fu-berlin.de>
Heiko Schlittermann (HS12-RIPE) <hs@schlittermann.de>
Heiko Schlittermann (HS12-RIPE) <hs@schlittermann.de> <hs+exim@schlittermann.de>
Jasen Betts <jasen@xnet.co.nz>
Jeremy Harris <jgh146exb@wizmail.org>
Jeremy Harris <jgh146exb@wizmail.org> <jgh@exim.org>
# root <jgh146exb@wizmail.org>
J. Nick Koston <nick@cpanel.net>
John Jetmore <jetmore@exim.org> <jj33@pobox.com>
Julian Brown <julian.brown@cpanel.net>
Lars Mueller <lmuelle@suse.com>
Lars Timmann <lt@mcs.de>
Magnus Holmgren <holmgren@lysator.liu.se>
mg <mg@fork.pl>
Michael Fischer v. Mollard <info@konfusator.de>
Michael Haardt <michael@moria.de>
Miroslav Lichvar <mlichvar@redhat.com>
Nigel Metheringham <nigel@exim.org> <nigel.metheringham@jrtheatre.co.uk>
Nigel Metheringham <nigel@exim.org> <nm9762github@muesli.org.uk>
Philip Hazel <ph10@hermes.cam.ac.uk>
Phil Pennock <pdp@exim.org> <pdp@spodhuis.org>
Richard Clayton <richard@highwayman.com>
Roman <rommer@active.by>
Sebastian Wiedenroth <wiedi@frubar.net>
Simon Amor <simon@leaky.org>
Steve Campbell <steve@computurn.com>
Ted Cooper <patches.exim.xiii.x@linuxwan.net>
Timo Sirainen <tss@iki.fi>
Todd Lyons <tlyons@exim.org> <tlyons@ivenue.com>
Tom Kistner <tom@duncanthrax.net> <tom@tahini.csx.cam.ac.uk>
Tony Finch <dot@dotat.at> <dot@dot.at>
Viktor Dukhovni <viktor1dane@dukhovni.org>
Wolfgang Breyha <wbreyha@gmx.net>
